.header {
  font-family: $Open-Sans;
  position: absolute;
  z-index: 1000;
  width: 100%;
  position: absolute;

  @include transition;
  &._fixed {
    position: fixed;
    background: $main-dark;
    .header__inner {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 0 0;

    @include transition;
    @media screen and (max-width: 950px) {
      justify-content: center;
      position: relative;
      padding-top: 10px;
    }
  }
}

.nav {
  max-width: 729px;
  width: 100%;
  @include transition;
  @media screen and(max-width: 950px) {
    width: 50%;
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include transition;
    background: rgba(0, 0, 0, 0.85);
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 40vh;
    }
  }
}
.nav.nav-active {
  left: 50% !important;
}
.menu {
  width: 100%;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  text-transform: uppercase;

  @media screen and (max-width: 950px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &__link {
    color: $seondary-light;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $main-color;
    }
  }
  &__item-active {
    padding-bottom: 20px;
    border-bottom: 1px solid $main-color;
  }
  &__item-active .menu__link {
    color: $main-color;
    font-weight: 700;
  }
}
.logo {
  border: 3px solid $seondary-light;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 11px 12px 9px 0px;
  color: #f1ebe7;
  font-size: 2.25rem;
  font-weight: 200;
  line-height: 28px;
  letter-spacing: 1.04px;
  span {
    color: #4a4c55;
    background-color: $seondary-light;
    padding: 0 12px 0 10px;
    margin-right: 13px;
    font-weight: bold;
    max-width: 141px;
  }
}

.menu__burger {
  position: absolute;
  top: 50%;
  right: 3%;
  width: 30px;
  height: 30px;
  display: none;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;

  transition: 0.3s ease transform;
  transform: translateY(-50%);
  div {
    width: 4px;
    height: 4px;
    background-color: $main-light;
    margin-left: 0;
    margin-bottom: 6px;
    border-radius: 3px;

    transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
      0.3s ease background-color;
    &:first-child {
      width: 22px;
    }
    &:nth-child(2) {
      width: 15px;
    }
    &:last-child {
      width: 30px;
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 950px) {
    display: block;
    position: absolute;
    visibility: visible;
    opacity: 1;
  }
  @media screen and (max-width: 620px) {
    right: 15px;
  }
  &.burger-active {
    transform: translateY(-50%) rotateZ(-90deg);
    div {
      width: 6px;
      margin-left: 12px;
      margin-bottom: 3px;
      background-color: #eee;
    }
  }
}
