.pricing__inner {
  width: 100%;
  padding-top: 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price__cards {
  margin-top: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 720px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.price__card {
  background-color: $seondary-light;
  width: 32%;
  cursor: pointer;
  height: 609px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 37%;
    background-color: $light-gray;
  }
  &:hover {
    transform: translateY(-20px);
  }
  @media screen and (max-width: 720px) {
    width: 380px;
  }
  @media screen and (max-width: 380px) {
    width: 100%;
  }
  @include transition;
}

.price__card-premium {
  &::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 37%;
    background-color: $main-color;
  }
  .price__inner .price {
    color: $main-color;
  }
  .choose__plan {
    background-color: $main-color;
  }
  @media screen and (max-width: 720px) {
    width: 380px;
    margin: 20px 0;
  }
}
.price__name {
  color: $main-light;
  margin-top: 50px;
  font-family: $Open-Sans-Semi;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-bottom: 61px;
}
.price__wrapper {
  position: relative;
  width: 174px;
  height: 174px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(244, 245, 249, 0.25);

  border-radius: 50%;
}
.price__inner {
  font-family: $Sans-Pro;
  color: $light-gray;
  width: 154px;
  height: 154px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: $main-light;
  border-radius: 50%;

  .price {
    color: $light-gray;
    font-family: $Sans-Pro;
    font-size: 40px;
    font-weight: 700;
    line-height: 21.95px;
    margin-bottom: 12px;
  }
  .price__time {
    font-size: 13px;
    font-weight: 400;
  }
}
.price__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $light-gray;
  font-family: $Open-Sans-Semi;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 48px;
}
.choose__plan {
  width: 145px;
  height: 46px;
  border-radius: 3px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: $light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-light;
  font-family: $Open-Sans-Semi;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.14px;

  @include transition;
  &:hover {
    background-color: $main-color;
  }
}
