.slider {
  padding-top: 326px;
  padding-bottom: 262px;
  position: relative;
  overflow: initial;
  &::after {
    content: '';
    height: 1px;
    width: 100%;
    background: $main-light;
    position: absolute;
    bottom: 52px;
    left: 0;
  }
  @media screen and (max-width: 1540px) {
    padding-top: 220px;
  }
  @media screen and (max-width: 990px) {
    padding-top: 220px;
    padding-bottom: 120px;
  }
  @media screen and (max-width: 890px) {
    padding-top: 160px;
  }
  .container {
    margin-bottom: 68px;
    max-width: none;
  }
  &__anchor {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $seondary-light;
    height: 64px;
    border-radius: 50%;
    cursor: pointer;
    transform-origin: center center;
    transform: translate(-50%, 50%);
    @include transition;
    &::before {
      content: '';
      width: 74px;
      height: 74px;
      position: absolute;
      top: 50%;
      left: 50%;
      background: $main-light;
      opacity: 0.3;
      border-radius: 50%;
      transform-origin: center center;
      transform: translate(-50%, -50%);
      @include transition;
    }

    &:hover {
      transform: translate(-50%, 50%) scale(0.5);
      &::before {
        transform: translate(-50%, -50%) scale(2.5);
      }
    }
  }
  .inner {
    padding-left: 0;
    padding-right: 0;
  }
}

.slides {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.slide {
  max-width: 784px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pre__title {
  font-family: $Sans-Pro;
  color: $seondary-light;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: 45px;
  text-align: center;
}

.slide__title {
  text-align: center;
  color: $seondary-light;
  font-family: $Open-Sans;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7.2px;
  margin-bottom: 45px;
  @media screen and (max-width: 990px) {
    font-size: 46px;
  }
  @media screen and (max-width: 480px) {
    font-size: 32px;
  }
}

.slide__txt {
  width: 580px;
  color: #cbc6c0;
  font-family: $Open-Sans;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 47px;
  @media screen and (max-width: 620px) {
    padding: 0 10px;
    width: auto;
  }
}

.slide__buttons-wrapper {
  width: 480px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 580px) {
    flex-direction: column;
    width: 100%;
  }
}

.slide__button {
  text-align: center;
  width: 225px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-light;
  font-family: $Open-Sans;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.12px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: $main-color;
  border: 1px solid $main-color;
  border-radius: 2px;
  @include transition;
  &:hover {
    background-color: darken($main-color, 15%);
    border-color: darken($main-color, 15%);
  }
  @media screen and (max-width: 580px) {
    margin-bottom: 15px;
  }
}

.slide__button-learn {
  border: 1px solid $main-light;
  background: transparent;

  &:hover {
    background-color: $main-color;
    border-color: $main-color;
  }
}

.slider__inner {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: $main-color;
  color: $main-light;
  border: none;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  padding: 12px 16px;
  border-radius: 3px;

  @include transition;
  &::after {
    font-size: 14px;
    font-weight: 700;
  }
  &:hover {
    background-color: darken($main-color, 15%);
  }
  &:disabled {
    background: $main-light;
    &::after {
      color: #303030;
    }
  }
  @media screen and (max-width: 580px) {
    top: 40%;
    width: 30px;
    height: 30px;
  }
}
