/*-------------------COLORS---------------------*/
$main-dark: #212121;
$secondary-dark: #202020;
$light-gray: #999;
$main-color: #e74f3e;
$main-light: #fff;
$seondary-light: #f4f5f9;

/*-------------------FONTS---------------------*/
$Open-Sans: 'Open Sans', sans-serif;
$Open-Sans-Semi: 'Open Sans - Semibold', sans-serif;
$Sans-Pro: 'Source Sans Pro', sans-serif;
$Sans-Pro-Semi: 'Source Sans Pro', sans-serif;
$Sans-Semi-Italic: 'Open Sans Semibold Italic', arial;

/*-------------------MIXINS---------------------*/
@mixin transition($property: all) {
  transition: $property 0.3s ease-in-out;
}
